@use "@/assets/styles/variables" as *;

/* Main layout */
#app {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Keeps content below the fixed menu */
.main-content {
  flex: 1;
  padding-top: 80px; // adjust to your menu height
}

/* Route transition animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
